<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="BroadcasterIP" value="192.168.1.108" />
		<add key="BroadcasterPort" value="7717" />
	</appSettings>
</configuration>